<section>
    <button id="btnAlterar" class="btn btn-link botao-filtro" onclick="resetar(true);">Atualizar Todos</button>
    <button id="btnResetar" class="btn btn-link botao-filtro" onclick="resetar(false);">Todos Atualizados</button>
    <button id="btnIncluir" class="btn btn-success botao-filtro hidden" onclick="cadastrar();">Novo Usuário</button>
</section>